.chat {
    margin-left: 20px;
}

.chat__header {
    background-color: brown;
    width: 620px;
    margin-bottom: 2px;
    @include flexiblePlacement(none, center, none, none);
    background: #FAFBFF;
border-radius: 6px 6px 0px 0px;
}

.chat__content {
    width: 620px;
    height: 580px;
    background: white;
    box-shadow: 25px 25px 25px rgba(86, 128, 248, 0.03), 35.0877px 25px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
    padding: 32px 60px 0 30px;
}

.user__img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin: 24px 20px 24px 40px;
}

.user__name {
    font-size: 17px;
    line-height: 21px;
    color: #0D1C2E;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-info {
    @include flexiblePlacement(none, none, column, none);
}

.user_online {
    font-size: 14px;
    line-height: 19px;
    color: #2A8BF2;
    font-weight: 300;
}

.actions_menu {
    background: url(../img/chat/more-icon.svg);
    width: 25px;
    height: 25px;
    padding: 10px;

}

.chat__content_mess-right {
    @include flexiblePlacement(none, none, none, none);
}

.small-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 18px;
}

.chat__content_mess-right_text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    padding: 14px 10px 25px 22px;
    margin-bottom: 7px;
    position: relative;
}

.chat__content_mess-right_text::before {
    content: '';
    position: absolute;
    background: url(../img/chat/more-horizontal-icon.svg);
    width: 24px;
    height: 24px;
    right: -35px;
    cursor: pointer;
}

.chat__content_mess-right_text:nth-child(1) {
    max-width: 420px;
}

.chat__content_mess-right_text:nth-child(2) {
    width: 192px;
}

.chat__content_mess-right_text:nth-child(2)::after {
    content: '4 days ago';
    position: absolute;
    color: rgba(112, 124, 151, 0.7);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 73px;
    top: 67px;
    right: 14px;
}

.chat__content_mess-left {
    @include flexiblePlacement(flex-end, none, none, none);
    box-sizing: border-box;
    margin-top: 30px;
    position: relative;
}

.chat__content_mess-left::after {
    content: '';
    position: absolute;
    background: url(../img/chat/two-check-marks.svg) no-repeat;
    width: 15px;
    height: 15px;
    top: 17px;
    right: -25px;

}

.chat__content_mess-left_text {
    width: 220px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    padding: 14px 22px 17px 21px;
    color: #707C97;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    position: relative;
}

.chat__content_mess-left_text::before {
    content: '';
    position: absolute;
    background: url(../img/chat/more-horizontal-icon.svg) no-repeat;
    width: 24px;
    height: 24px;
    left: -43px;
} 

.chat__content_mess-left_text::after {
    content: '4 days ago';
    position: absolute;
    color: rgba(112, 124, 151, 0.7);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 73px;
    top: 51px;
    right: 14px;
} 


