.chat {
    margin-left: 20px;
    @include flexiblePlacement(none, none, column, none);
}

.chat__header {
    background-color: brown;
    width: 620px;
    margin-bottom: 2px;
    @include flexiblePlacement(none, center, none, none);
    background: #FAFBFF;
    border-radius: 6px 6px 0px 0px;
}

.chat__content {
    width: 620px;
    height: 500px;
    background: white;
    padding: 32px 60px 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}

.chat__content::-webkit-scrollbar {
    background: #B7BDCB;
    box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
    border-radius: 10px;
    width: 6px;
    height: 79px;
}

.chat__content::-webkit-scrollbar-track:hover {
    background: black;
    height: 79px;
}

.user__img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin: 24px 20px 24px 40px;
}

.user__name {
    font-size: 17px;
    line-height: 21px;
    color: #0D1C2E;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-info {
    @include flexiblePlacement(none, none, column, none);
}

.user_online {
    font-size: 14px;
    line-height: 19px;
    color: #2A8BF2;
    font-weight: 300;
}

.actions_menu {
    background: url(../img/chat/more-icon.svg);
    width: 25px;
    height: 25px;
    padding: 10px;

}

.chat__content_mess-right {
    @include flexiblePlacement(none, none, none, none);
}

.small-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 18px;
}

.chat__content_mess-right_text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    padding: 14px 10px 25px 22px;
    margin-bottom: 7px;
    position: relative;
    @include flexiblePlacement(none, center, none, none);
}

.chat__content_mess-right_text:nth-child(1) {
    max-width: 420px;
}

.chat__content_mess-right_text:nth-child(2) {
    width: 192px;
}

.chat__content_mess-right_text:nth-child(2)::after {
    content: '4 days ago';
    position: absolute;
    color: rgba(112, 124, 151, 0.7);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 73px;
    top: 67px;
    right: 14px;
}

.chat__content_mess-left {
    @include flexiblePlacement(flex-end, none, none, none);
    box-sizing: border-box;
    margin: 30px 0 34px 0;
    position: relative;
}

.chat__content_mess-left::after {
    content: '';
    position: absolute;
    background: url(../img/chat/two-check-marks.svg) no-repeat;
    width: 15px;
    height: 15px;
    top: 17px;
    right: -25px;
}

.chat__content_mess-left_text {
    width: 220px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    padding: 14px 22px 17px 21px;
    color: #707C97;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    position: relative;
}

.chat__content_mess-left_text::before {
    content: '';
    position: absolute;
    background: url(../img/chat/more-horizontal-icon.svg) no-repeat;
    width: 24px;
    height: 24px;
    left: -43px;
} 

.chat__content_mess-left_text::after {
    content: '4 days ago';
    position: absolute;
    color: rgba(112, 124, 151, 0.7);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 73px;
    top: 51px;
    right: 14px;
} 

.mess-small-text {
    font-family: TT Norms;
    font-size: 14px;
    line-height: 26px;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.7);
}

.file-size {
    font-size: 14px;
    line-height: 26px;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.7);
}

.actions_icons {
    background: url(../img/chat/more-horizontal-icon.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 15px;
}

.container-row {
    @include flexiblePlacement(none, center, none, none);
    position: relative;
}

.file-background {
    width: 40px;
    height: 40px;
    @include flexiblePlacement(center, center, none, none);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}
.chat__content-file {
    background: url(../img/chat/file.png) no-repeat;
    width: 24px;
    height: 24px;
}

.container-col {
    margin-left: 15px;
    margin-right: 20px;
}

.container-row::after {
    content: '4 days ago';
    position: absolute;
    color: rgba(112, 124, 151, 0.7);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 73px;
    bottom: -21px;
    right: 50px;
} 

.chat__form {
    background: #FFFFFF;
    width: 620px;
    box-shadow: 25px 25px 25px rgba(86, 128, 248, 0.03), 35.0877px 25px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
    padding: 0 30px;

}

.chat__line {
    border-top: 2px solid rgba(112, 124, 151, 0.15);
}

.chat__form-item {
    @include flexiblePlacement(center, center, none, none);
    background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat__form-list {
    @include flexiblePlacement(none, center, none, none);
    height: 90px;
}

.link__more {
    background: url(../img/dialogs/plus-icon.svg) no-repeat;
    width: 24px;
    height: 24px;
}

.chat__input {
    height: 38px;
    width: 420px;
    margin-left: 21px;
    border: transparent;
}

.chat__input::placeholder {
    font-size: 20px;
    line-height: 24px;
    color: rgba(112, 124, 151, 0.5);
}

.emoji_smile_btn {
    background: url(../img/chat/emoji_smile-icon.svg) no-repeat;
    width: 24px;
    height: 24px;
    border: none;
}

.chat__form-btn_send {
    width: 40px;
    height: 40px;
    background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05), 4px 6px 10px rgba(42, 139, 242, 0.15);
    border-radius: 50%;
    margin-left: 15px;
    @include flexiblePlacement(center, center, none, none);
}

.send-btn {
    width: 20px;
    height: 20px;
    background: url(../img/chat/btn-send-icon.svg) no-repeat;
    border: none;
}
