/* Dialogs
 =================================================== */
.dialogs {
    @include flexiblePlacement(none, none, column, none);
    width: 570px;
}

.dialogs__header {
    @include flexiblePlacement(space-between, none, none, none);
}

.dialogs__title {
    font-size: 36px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #0D1C2E;
    margin-bottom: 15px;
}

.dialogs__link {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    color: #707C97;
}

.dialogs__link::after {
    content: '';
    position: absolute;
    background: url(../img/dialogs/arrow-icon.png) no-repeat;
    width: 10px;
    height: 6px;
    right: -17px;
    top: 12px;
}

.dialogs__button {
    width: 240px;
    height: 60px;   
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    @include flexiblePlacement(center, center, none, none);
    position: relative;
    padding-left: 35px;
}

.dialogs__button::before {
    content: '';
    position: absolute;
    width: 24px;
    left: 25px;
    top: 18px;
    height: 24px;
    background: url(../img/dialogs/plus-icon.svg) no-repeat;
}

.dialogs__search {
    @include flexiblePlacement(none, none, none, none);  
    margin-top: 24px;  
    color: #707C97;
    font-size: 18px;
    line-height: 26px;
    background: #FFFFFF;
    border-radius: 6px;
    height: 70px;
    padding-left: 37px;
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
    
}

.dialogs__input {
    position: relative;
    font-size: 18px;
    width: 376px;
    border-radius: 6px 0 0 6px;
    border: #FFFFFF;
    padding: 22px 0 22px 10px;
}

.dialogs__messages {
    @include flexiblePlacement(center, center, none, none);
    width: 200px;
    color: #707C97;
    font-size: 18px;
    line-height: 26px;
    background: #FFFFFF;
    border-radius: 0 6px 6px 0;
    border: #FFFFFF;
    border-left: 2px solid #F5F4FB;
}

.dialogs__input-img {
    width: 24px;
    height: 24px;
    margin-top: 24px;
}

.dialogs__list {
    overflow: scroll;
    height: 475px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-top: 18px;
}

.dialogs__list::-webkit-scrollbar {
    background: #B7BDCB;
    box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
    border-radius: 10px;
    width: 6px;
    height: 79px;
}

.dialogs__list::-webkit-scrollbar-track:hover {
    background: black;
    height: 79px;
}

.dialogs__item {
    width: 553px;
    height: 220px;
    border-radius: 6px;
    margin: 20px 0 20px 0;
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
}

.dialogs__item-header {
    @include flexiblePlacement(none, center, none, none);
}

time {
    font-size: 15px;
    line-height: 19px;
    color: #707C97;
    margin-left: 235px;

} 

.dialogs--text-preview {
    width: 450px;
    font-size: 16px;
    line-height: 26px;
    color: #707C97;
    margin: 0 0 0 28px;
    display: block;
}

.dialogs__item-content {
    @include flexiblePlacement(space-around, none, none, none);    
}

.dialogs--unread {
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: 4px 4px 15px rgba(198, 27, 74, 0.05), 2px 2px 10px rgba(198, 27, 74, 0.1), 1px 1px 50px rgba(198, 27, 74, 0.15);
    background: #FF3366;
    border-radius: 50%;
    @include flexiblePlacement(center, center, none, none);
    margin-right: 16px;
}

.dialogs--unread::before {
    position: absolute;
    content: '2';
    color: #FFFFFF;
    font-size: 13px;
}

.dialogs__item:nth-child(1) {
    background: #FFFFFF;
    margin-top: 0;
} 

.dialogs__item:nth-child(2) {
    background: #FFFFFF;
}

.dialogs__item:nth-child(3) {
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
}

.dialogs__item:nth-child(4) {
    background: #FFFFFF;
}

.dialogs__item:nth-child(5) {
    background: green;
}

.dialogs__item:nth-child(6) {
    background: gold;
} 

.dialogs__item:nth-child(7) {
    background: lightcoral;
    margin-bottom: 0;
} 
