/* Navigation 
 =================================================== */
 .navbar {
    @include flexiblePlacement(none, none, column, none);
    width: 250px;
    background:white;
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100vh;

    &__user {
    @include flexiblePlacement(none, center, column, none); 
    margin: 75px 0 50px 0;  

        .user__img {
            border-radius: 50%;
            margin-bottom: 15px;
        }
        
        .user__link {
            position: relative;
            font-size: 18px;
            line-height: 21px;
            color: #0D1C2E;
            font-weight: 400;
        }

        .user__link::after {
            content: '';
            position: absolute;
            background: url(../img/navbar/arrow-icon.png) no-repeat;
            width: 14px;
            height: 8px;
            top: 9px;
            right: -20px;
        }
    }

    .navbar__item {
        @include flexiblePlacement(none, center, none, none); 
        position: relative;
        width: 30px;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 38px;
    }

    .navbar__item:hover {
        border-left: 4px solid #2A8BF2;
        box-shadow: inset;
        border-radius: 5%;
    }


    .navbar__link {
        margin-left: 40px; 
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #707C97;
        font-weight: 600;
    }

    .navbar__link:hover {
        color: #2A8BF2;
    }

    .navbar__item-icon:nth-child(1)::after {
        @include navbarPseudoElement;
        background: url(../img/navbar/home-icon.svg) no-repeat;
    }

    .navbar__item:nth-child(2)::after {
        @include navbarPseudoElement;
        background: url(../img/navbar/chat-icon.svg) no-repeat;
    }

    .navbar__item:nth-child(3)::after {
        @include navbarPseudoElement;
        background: url(../img/navbar/contact-icon.svg) no-repeat;
    }

    .navbar__item:nth-child(4)::after {
        @include navbarPseudoElement;
        background: url(../img/navbar/bell-icon.svg) no-repeat;
    }

    .navbar__item:nth-child(5)::after {
        @include navbarPseudoElement;
        background: url(../img/navbar/calendar-icon.svg) no-repeat;
    }

    .navbar__item:nth-child(6)::after {
        @include navbarPseudoElement;
        background: url(../img/navbar/settings-icon.svg) no-repeat;
    }

    .navbar__button {
        padding-left: 38px;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #707C97;
        font-weight: 600;
        border: none;
        width: 111px;
    }

    .navbar__button:hover {
        color: darkslategray;
    }

    .navbar__button-icon {
        background: url(../img/navbar/log-out-icon.svg) no-repeat;
        height: 24px;
        margin-left: 40px; 
        margin-top: auto;
        margin-bottom: 31px;
    }
}