/* Navigation 
 =================================================== */

.side-bar {
    @include flexiblePlacement(none, none, column, none);
    width: 250px;
    background: $whiteColor;
    box-shadow: $sideBarShadow;
    min-height: 100vh;

    .profile-link {
    @include flexiblePlacement(none, center, column, none); 
    margin: 75px 0 50px 0;  
    cursor: pointer;

        &__img {
            border-radius: 50%;
            margin-bottom: 15px;
            width: 86px;
            height: 86px;
        }

        &__row {
            @include flexiblePlacement(none, center, none, none);
        }

        &__arrow {
            margin: 5px 0 0 9px;
            width: 14px;
            height: 8px;
            background: url(../img/side-bar/arrow-icon.png) no-repeat;
        }

        &__name {
            font-size: 18px;
            color: $darkBlueColor;
            font-weight: 400;
        }
    }

    &__item {
        @include flexiblePlacement(none, center, none, none); 
        position: relative;
        width: 30px;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 38px;
    }

    &__item:nth-child(1)::after {
        @include navbarPseudoElement;
        background: url(../img/side-bar/home-icon.svg) no-repeat;
    }

    &__item:nth-child(2)::after {
        @include navbarPseudoElement;
        background: url(../img/side-bar/chat-icon.svg) no-repeat;
    }

    &__item:nth-child(3)::after {
        @include navbarPseudoElement;
        background: url(../img/side-bar/contact-icon.svg) no-repeat;
    }

    &__item:nth-child(4)::after {
        @include navbarPseudoElement;
        background: url(../img/side-bar/bell-icon.svg) no-repeat;
    }

    &__item:nth-child(5)::after {
        @include navbarPseudoElement;
        background: url(../img/side-bar/calendar-icon.svg) no-repeat;
    }

    &__item:nth-child(6)::after {
        @include navbarPseudoElement;
        background: url(../img/side-bar/settings-icon.svg) no-repeat;
    }

    &__item:hover {
        border-left: 4px solid $dodgerblueColor;
        border-radius: 5%;
    }

    &__link {
        margin-left: 40px; 
        font-size: 16px;
        text-transform: uppercase;
        color: $caparol;
        font-weight: 600;
    }

    &__link:hover {
        color: $dodgerblueColor;
    }

    &__button {
        padding-left: 38px;
        width: 111px;
        height: 24px;
        margin-left: 40px;
        margin-bottom: 51px;
        font-size: 16px;
        text-transform: uppercase;
        color: $caparol;
        margin-top: auto;
        font-weight: 600;
        border: none;
        background: url(../img/side-bar/log-out-icon.svg) no-repeat;
    }

    &__button:hover {
        color: darkslategray;
    }
}