@import './config/normalize';
@import './config/variables';
@import './config/mixins';

.wrapper {
    min-height: 100vh;
    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
    @include flexiblePlacement(none, none, none, none);
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    margin: 40px 15px 0 40px;
    @include flexiblePlacement(none, none, none, none);
}

@import './navbar';
@import './chats';
@import './chat';
@import './config/media';
