@mixin flexiblePlacement($axis-x, $axis-y, $axis-inversion, $wrap) {
    display: flex;
    justify-content: $axis-x;
    align-items: $axis-y;
    flex-direction: $axis-inversion;
    flex-wrap: $wrap;
}

@mixin navbarPseudoElement {
    content: '';
    width: 24px;
    bottom: 7px;
    height: 24px;
    position: absolute;
}